<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Библиотека</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <div class="container my-5">

    {% for books_row in books_in_columns %}
    <div class="row mb-3">

      {% for book in books_row %}
      <div class="col-md-6">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ book.img_src }}" class="img-fluid rounded-start" alt="Обложка книги {{ book.title }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.author }}</p>
                <a href="{{ book.book_path }}" target="_blank" class="btn btn-primary">Читать</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {% endfor %}

  </div>
</body>
</html>